html,
body {
    height: 100%;
    background-color: lightgrey;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    color: blue;
    position: relative;
}

.content {
    display: flex;
    justify-content: center;
}

.hamburger-menu {
    position: relative;
    background-color: blue;
    margin-right: 30px;
    z-index: 950;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    width: 40px;
    cursor: pointer;
    margin-right: 10px;
}

.menu-icon span {
    height: 3px;
    background: #fff;
    margin: 5px 0;
    border-radius: 3px;
    width: 30px;
}

#menu-toggle {
    display: none;
}

.menu {
    list-style: none;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    z-index: 950;
}

.menu li {
    margin: 20px 0;
}

.menu li a {
    color: blue;
    text-decoration: none;
    font-size: 24px;
}

#menu-toggle:checked+.menu-icon+.menu {
    display: flex;
    opacity: 1;
    pointer-events: auto;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    background: blue;
    color: #fff;
}